*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
.gradle/*
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
ios/reader.xcodeproj/
# BUCK
buck-out/
\.buckd/
android/app/libs
android/app/.gradle
*.apk
*.keystore
.DS_Store
ios/.DS_Store
# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots